{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Hospital Management</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="header">
    <div class="head-left">
        <h1>Hospital Management System</h1>
    </div>

    <div class="head-right">
        {% if user.is_authenticated %}
            <span style="margin-right:15px; color:white;">Welcome, {{ user.username }}</span>
            <a href="{% url 'logout' %}" class="auth-btn">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="auth-btn">Login</a>
        {% endif %}
    </div>
</div>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="footer">
     © 2025 Hospital Management System. All rights reserved.
</footer>

</body>
</html>