{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<!-- ===== NAVBAR ===== -->
<header class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="logo">Hospital Management System</a>

        <nav class="nav-links">
            <!-- Contact numbers in navbar -->

            {% if user.is_authenticated %}
                <span class="welcome">Hi, {{ user.username }}</span>
                <a href="{% url 'logout' %}" class="btn-nav logout">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn-nav login">Login</a>
            {% endif %}
        </nav>
    </div>
</header>

<!-- ===== PAGE CONTENT ===== -->
{% block content %}{% endblock %}

<!-- ===== FOOTER ===== -->
<footer class="footer">
    <div class="footer-container">
        <p>© 2025 Hospital Management System</p>
        <p>Trusted Care • Better Health</p>
        <p> Contact us: 
            📞<a href="tel:+919876543210">+91 9876543210</a>&nbsp;&nbsp;&nbsp; 
            <a href="tel:+919123456780">+91 9123456780</a>    
        </p>
    </div>
</footer>

</body>
</html>
